<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="about-bg">

<div class="container">
    <h1>About Project</h1>

    <p class="about-text">
        This project uses Machine Learning to recommend the most suitable crop based on soil nutrients and environmental conditions such as Nitrogen, Phosphorus, Potassium, Temperature, Humidity, pH and Rainfall. It helps farmers make better agricultural decisions and improve crop productivity.
    </p>

    <ul>
        <li>Nitrogen (N)</li>
        <li>Phosphorus (P)</li>
        <li>Potassium (K)</li>
        <li>Temperature</li>
        <li>Humidity</li>
        <li>pH Value</li>
        <li>Rainfall</li>
    </ul>

    <a href="/">Back to Home</a>
</div>

</body>
</html>