<!DOCTYPE html>
<html>
<head>
    <title>OptiCrop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-bg">
    <div class="container">
        <h1>🌾 OptiCrop</h1>
        <h2>Smart Agricultural Production Optimizing Engine</h2>

        <a href="/findyourcrop">
            <button>Find Your Crop</button>
        </a>

        <br><br>

        <a href="/about">
            <button>About Project</button>
        </a>
    </div>
</body>
</html>